.table-contact-name-container {
  display: flex;
  align-items: center;

  .table-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: indianred;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
