.contact-brief {
  display: flex;
}
.contact-details-side-item {
  padding: 20px;
  .owner {
    font-size: 14px;
    color: #b0b3b4;
    margin-top: 12px;
    margin-bottom: 5px;
  }
}
.contact-details-side-icon-strip {
  background-color: #ececec;
}

.contact-details-side-a-section {
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}

.contact-details-side-contact-info {
  padding: 20px;
}

.tags-container {
  border-top: 1px dashed #eee;
}
.other-info-container {
  border-top: 1px dashed #eee;
}
.contact-info-content {
  margin: 20px 0;
}

.date {
  color: #999;
  font-size: 12px;
  padding: 20px;
  font-weight: 500;
}
